
.mainFxmlClass {

}
.setup-button{
    -fx-background-color:#424242;
    -fx-text-fill: white;
}
.setup-button:hover{
    -fx-background-color: #0288D1;
}

.green-button{
    -fx-background-color:#96bb37;
    -fx-text-fill: white;
}
.green-button:hover{
    -fx-background-color: #AFDA42;
}

.blue-button{
    -fx-background-color:#006782;
    -fx-text-fill: white;
}
.blue-button:hover{
    -fx-background-color: #008BAE;
}

.close-button{
    -fx-background-color:#C62828;
    -fx-text-fill: white;
}
.close-button:hover{
    -fx-background-color: #F44336;
}

.orange-button{
    -fx-background-color:#E1A532;
    -fx-text-fill: white;
}
.orange-button:hover{
    -fx-background-color: #edbc5e;
}