.combo-box {

}
.big {
    -fx-font-size: 16pt;
    -fx-padding: -1 -1 -1 50;
}
.big .combo-box-popup .list-view {
    -fx-font-size : 15pt;
}
.combo-box>.list-cell {
    -fx-alignment: CENTER;
}
.combo-box-popup .list-view .list-cell {
    -fx-alignment: center;
}
