@font-face {
    font-family: 'Product Sans n'
    src: url('../../fonts/ProductSansRegular.ttf');
}
@font-face {
    font-family: 'Product Sans b';
    src: url('../../fonts/ProductSansBold.ttf');
}

/* VARIABLE DEFINITIONS: Only these 4 variables have to be adjusted, the rest is copy-paste */
.white {
    -fx-my-menu-color: #fff;
    -fx-my-menu-color-highlighted: #fff;
    -fx-my-menu-font-color: #666;
    -fx-my-menu-font-color-highlighted: #222;
}

.brown {
    -fx-my-menu-color: #5f4339;
    -fx-my-menu-color-highlighted: #8d6e63;
    -fx-my-menu-font-color: #fff;
    -fx-my-menu-font-color-highlighted: #fff;
}

.indigo {
    -fx-my-menu-color: #303F9F;
    -fx-my-menu-color-highlighted: #3F51B5;
    -fx-my-menu-font-color: #fff;
    -fx-my-menu-font-color-highlighted: #C5CAE9;
}

.green {
    -fx-my-menu-color: #689F38 ;
    -fx-my-menu-color-highlighted: #8BC34A;
    -fx-my-menu-font-color: #fff;
    -fx-my-menu-font-color-highlighted: #000;
}

.orange {
    -fx-my-menu-color: #FFA000;
    -fx-my-menu-color-highlighted: #FFC107;
    -fx-my-menu-font-color: #000;
    -fx-my-menu-font-color-highlighted: #FFECB3;
}

.pink {
    -fx-my-menu-color: #C2185B;
    -fx-my-menu-color-highlighted: #E91E63;
    -fx-my-menu-font-color: #000;
    -fx-my-menu-font-color-highlighted: #F8BBD0;
}

/* MENU BAR + Top-level MENU BUTTONS */
/*** The menu bar itself ***/
.menu-bar {
    -fx-font-family: 'Product Sans n';
    -fx-background-color: -fx-my-menu-color;
    -fx-font-size: 14;
}

/*** Top-level menu itself (not selected / hovered) ***/
.menu-bar > .container > .menu-button {
    -fx-background-color: -fx-my-menu-color;
}

/*** Top-level menu's label (not selected / hovered) ***/
.menu-bar > .container > .menu-button > .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** Top-level menu's label (disabled) ***/
.menu-bar > .container > .menu-button > .label:disabled {
    -fx-opacity: 1.0;
}

/*** Top-level menu itself (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover,
.menu-bar > .container > .menu-button:focused,
.menu-bar > .container > .menu-button:showing {
    -fx-background-color: -fx-my-menu-color-highlighted;
}

/*** Top-level menu's label (selected / hovered) ***/
.menu-bar > .container > .menu-button:hover > .label,
.menu-bar > .container > .menu-button:focused > .label,
.menu-bar > .container > .menu-button:showing > .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
}

/* MENU ITEM (children of a MENU BUTTON) */
/*** The item itself (not hovered / focused) ***/
.menu-item {
    -fx-background-color: -fx-my-menu-color;
}

/*** The item's label (not hovered / focused) ***/
.menu-item .label {
    -fx-text-fill: -fx-my-menu-font-color;
}

/*** The item's label (disabled) ***/
.menu-item .label:disabled {
    -fx-opacity: 1.0;
}

/*** The item itself (hovered / focused) ***/
.menu-item:focused, .menu-item:hovered {
    -fx-background-color: -fx-my-menu-color-highlighted;
    /* -fx-background-radius: 6 6 6 6, 5 5 5 5, 4 4 4 4; */
}

/*** The item's label (hovered / focused) ***/
.menu-item:focused .label, .menu-item:hovered .label {
    -fx-text-fill: -fx-my-menu-font-color-highlighted;
    /*-fx-font-weight: bold;*/
}

/* CONTEXT MENU */
/*** The context menu that contains a menu's menu items ***/
.context-menu {
    -fx-background-color: -fx-my-menu-color;
    -fx-background-insets: 0, 1, 2;
    -fx-background-radius: 0 6 6 6, 0 5 5 5, 0 4 4 4;
    -fx-padding: 0.333333em 0.083333em 0.666667em 0.083333em; /* 4 1 8 1 */
}